body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
}

#sidebar-left {
  height: 100%;
  width: 400px;
  position: fixed;
  left: 0px;
  background-color: #addd8e;
  overflow-y: auto;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
 background-color:hsl(96, 53%, 71%);
 color: hsl(0, 0%, 26%);
 cursor: pointer;
 padding: 18px;
 width: 100%;
 border: 0.5px solid hsl(96, 34%, 60%);
 text-align: left;
 outline: none;
 font-size: 18pt;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
 background-color: hsl(138, 53%, 41%);
 color: hsl(0, 0%, 100%);
 -webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
}

/* Style the collapsible content. Note: hidden by default */
.content {
 padding: 10px 18px;
 color: hsl(0, 0%, 26%);
 display: none;
 overflow: hidden;
 background-color:  white;
}

#page-header {
  font-size: 36pt;
  letter-spacing: 2px;
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  background-color:hsl(113, 33%, 60%)
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch_label {
  font-size: 15px;
}
